.Player {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Player button img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.Player button {
    padding: 10px;
    background-color: $lightBg;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

.dark button {
    background-color: $darkBg;
}

.Player button:hover {
    transform: scale(1.05);
}

.Player video {
    width: 900px;
    margin-top: 50px;
}

.select-video {
    margin-top: 30px;
}

.select-video button {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    background-color: white;
    border-radius: 5%;
    margin: 0px 5px;
}

.dark .select-video button {
    background-color: grey;
}

#selected-vid {
    background-color: rgb(162, 203, 255);
}

.dark #selected-vid {
    color: $darkBg;
}