@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300&display=swap");
.Picker {
  width: 30%;
  min-height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Picker button {
  padding: 15px 20px;
  width: 200px;
  border: 4px solid #a2cbff;
  border-radius: 10px;
  margin: 10px 0px;
  background-color: #f7ecfd;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 15px;
}

.Picker button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  font-size: 16px;
}

#selected {
  border: 4px solid #0974ff;
}

@media screen and (max-width: 1024px) {
  .Picker {
    width: 100%;
    min-height: 1vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 150px 0px;
  }
  .Picker button {
    padding: 5px 10px;
    width: 200px;
    margin: 10px 5px;
    font-weight: 300;
    letter-spacing: 0px;
    font-size: 14px;
  }
  .Picker button:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
    font-size: 14px;
  }
}

@media screen and (max-width: 650px) {
  .Picker {
    margin: 80px 0px;
  }
  .Picker button {
    padding: 5px;
    width: 150px;
    font-size: 12px;
  }
  .Picker button:hover {
    font-size: 12px;
  }
}

.dark button {
  background-color: #292929;
  color: whitesmoke;
}

.Player {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Player button img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Player button {
  padding: 10px;
  background-color: #f7ecfd;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}

.Player button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.Player video {
  width: 900px;
  margin-top: 50px;
}

.select-video {
  margin-top: 30px;
}

.select-video button {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  background-color: white;
  border-radius: 5%;
  margin: 0px 5px;
}

#selected-vid {
  background-color: #a2cbff;
}

@media screen and (max-width: 1024px) {
  .Player {
    width: 100%;
    min-height: 1vh;
  }
  .Player img {
    width: 800px;
    height: 600px;
    border-radius: 3%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .select-img {
    margin: 30px 0px;
  }
  .select-img button {
    font-size: 12px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    background-color: white;
    border-radius: 3%;
    margin: 5px;
  }
  #selected-img {
    background-color: #a2cbff;
  }
}

@media screen and (max-width: 850px) {
  .Player img {
    width: 600px;
    height: 450px;
  }
}

@media screen and (max-width: 650px) {
  .Player img {
    width: 350px;
    height: 220px;
  }
}

@media screen and (max-width: 400px) {
  .Player img {
    width: 280px;
    height: 200px;
  }
}

@media screen and (max-width: 300px) {
  .Player img {
    width: 260px;
    height: 160px;
  }
}

.dark button {
  background-color: #292929;
}

.dark .select-video button {
  background-color: grey;
}

.dark #selected-vid {
  color: #292929;
  background-color: #a2cbff;
}

.dark .select-img button {
  background-color: grey;
}

.dark #selected-img {
  color: #292929;
  background-color: #a2cbff;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  min-height: 100vh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #f7ecfd;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #292929;
}

nav {
  width: 100%;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav h1, nav img {
  margin: 0px 15px;
}

nav h1 {
  font-size: 18px;
  font-weight: 300;
  font-family: 'Pacifico', sans-serif;
}

nav img {
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media screen and (max-width: 1024px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.dark {
  background-color: #292929;
  color: whitesmoke;
}
/*# sourceMappingURL=style.css.map */